Repository teaglebuilt/homelab, changes with the labels that .github/labeler.yml gives for each.
All labels: area/bootstrap, area/platform, area/kubernetes, area/virtual-machine, area/documentation

.github/labeler.yml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: '**/.taskfiles/*'
      - any-glob-to-any-file: '**/Taskfile.yaml'
area/platform:
  - changed-files:
      - any-glob-to-any-file: platform/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/virtual-machine:
  - changed-files:
      - any-glob-to-any-file: vm/**/*
area/documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*

add check for building docs to avoid issues withe dependabot
  .github/workflows/pr-ci-checks.yaml
  .github/workflows/pr-labeler.yaml
  .github/workflows/release.yaml
Labels: none

restore ai folder and add ai gateway crds
  .gitmodules
  kubernetes/apps/networking/cilium/kustomization.yaml
  kubernetes/helmfile.d/01-bootstrap.gotmpl.lock
  kubernetes/helmfile.d/01-bootstrap.gotmpl.yaml
  kubernetes/helmfile.d/02-core.gotmpl.lock
  kubernetes/helmfile.d/03-devices.gotmpl.lock
  platform/ai/k8s/airoutes.yaml
  platform/ai/k8s/gateway.yaml
  platform/ai/k8s/openwebui-values.yaml
  platform/ai/k8s/providers/ollama/api-key.yaml
  platform/ai/k8s/providers/ollama/backend.yaml
  platform/ai/pipelines/github_pipeline.py
  scripts/certify-platform.sh
Labels: area/platform, area/kubernetes

save concept
  .gitignore
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/.helmignore
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/Chart.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/crds/aigateway.envoyproxy.io_aigatewayroutes.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/crds/aigateway.envoyproxy.io_aiservicebackends.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/crds/aigateway.envoyproxy.io_backendsecuritypolicies.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/NOTES.txt
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/_helpers.tpl
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/deployment.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/service.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/serviceaccount.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/values.yaml
  kubernetes/apps/networking/cilium/gatewayclass.yaml
  kubernetes/charts/homelab-gateway/Chart.yaml
  kubernetes/charts/homelab-gateway/templates/gateway.yaml
  kubernetes/charts/homelab-gateway/templates/hubble-ui-route.yaml
  kubernetes/helmfile.d/02-core.gotmpl.yaml
  kubernetes/helmfile.d/03-devices.gotmpl.lock
  platform/ai/k8s/gateway.yaml
  platform/ai/k8s/kustomization.yaml
  platform/ai/k8s/openwebui-values.yaml
  platform/ai/k8s/providers/kustomization.yaml
  platform/ai/k8s/providers/ollama/backend.yaml
Labels: area/platform, area/kubernetes

rm chart from kustomization
  .gitignore
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/.helmignore
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/Chart.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/crds/aigateway.envoyproxy.io_aigatewayroutes.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/crds/aigateway.envoyproxy.io_aiservicebackends.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/crds/aigateway.envoyproxy.io_backendsecuritypolicies.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/NOTES.txt
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/_helpers.tpl
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/deployment.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/service.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/templates/serviceaccount.yaml
  kubernetes/apps/networking/cilium/charts/ai-gateway-helm-v0.0.0-latest/ai-gateway-helm/values.yaml
  kubernetes/charts/homelab-gateway/templates/gateway.yaml
  tf_modules/talos_cluster/main.tf
  tf_modules/talos_cluster/pci_mapping.tf
Labels: area/kubernetes

fix kubelet patch
  kubernetes/apps/networking/cilium/values.yaml
  kubernetes/charts/homelab-gateway/templates/hubble-ui-route.yaml
  tf_modules/talos_cluster/patches/kubelet.yaml
Labels: area/kubernetes

save branch
  README.md
  tf_modules/talos_cluster/pci_mapping.tf
Labels: none
